# ROS2 build folders
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
